<style>
table{
    display: table-header-group;
    padding-bottom: 10px;
}

td{
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

</style>

<div class="footer"  height=60px>
    <table>
        <tr>
            <td>Email: </td>
            <td> ATNShop@gmail.com</td>
        </tr>
        <tr>
            <td>Location: </td>
            <td>155 Cong Hoa Street </td>
        </tr>
        <tr>
            <td>(c) Copyright by ATN Shop</td>
        </tr>
    </table>
</div>