<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN Shop' }}
<style>
    body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIXN4ty7JTDAOxDMlY4L6s_8nDh_PB2w06Q&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    top: 250px;
    text-align: center;
    position: relative;
}

</style>

<body>
    <main>
        {{>header}}<br/>
        <h1>HOME PAGE</h1>
        <h1>Welcome to ATN Shop</h1>
    </main>
</body>

</html>