<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<style> 
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVIXN4ty7JTDAOxDMlY4L6s_8nDh_PB2w06Q&usqp=CAU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    display: table-header-group;
}

td{
    width: 100px;
}
</style>

<body>
    {{>header  title=this.title}}
    <main>
        <H1>{{title}}</H1>
        <h1 style="text-align: center;">Login Page</h1>

        <table>
            <tr>
                <td><label for="Username">Username</label></td>
                <td><input type="text" name="Username" id="Username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><label for="password">password</label></td>
                <td><input type="password" name="Password" id="Password" placeholder="Password"/></td>
            </tr>
            <tr>
                <td><a href="/product"><input type="button" value="Login"/></a></td>
            </tr>
        </table>    
    </main>

    {{>footer}}

</body>

</html>