<!DOCTYPE html>
<html>

<head>
    {{>head title=this.title }}
    <title>{{title}}</title>
</head>

<body>
    <form>
        <table>
            <tr>
                <td><label for="Username">Username</label></td>
                <td><input type="text" name="Username" id="Username" placeholder="Username"></td>
            </tr>
            <tr>
                <td><label for="password">password</label></td>
                <td><input type="password" name="Password" id="Password" placeholder="Password"/></td>
            </tr>
            <tr>
                <td><a href="/product"><input type="button" value="Login"/></a></td>
            </tr>
        </table> 
    </form>  
</body>

</html>